<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create New Blog Post:</h3>
      <form method="post" enctype="multipart/form-data" class="form new-blog-form"> 
  <div class="form-group">
        <label for="blog-name">Title:</label>
        <input class="form-input" type="text" id="blog-name" name="title" />
        </div>
      <div class="form-group">
        <label for="blog-desc">Content:</label>
        <textarea class="form-input" id="blog-desc" name="content" rows="10" cols="20"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Your Blog Posts:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="row justify-center">
      <div class="col-md-4">
        <button id="deleteblog" class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>