<div class="row mt-4">
  <div class="col-md-6 tb-site-container">
    <h2>Create New Blog Post:</h2>
      <form id="blog-form" class="form new-blog-form"> 
  <div class="form-group">
        <label for="blog-name">Title:</label>
        <input class="form-input" type="text" id="blog-name" name="title" />
        </div>
      <div class="form-group">
        <label for="blog-desc">Content:</label>
        <textarea class="form-input" id="blog-desc" name="content" rows="10" cols="40"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
  </div>

  {{#if blogs.length}}
  <aside class="col-md-6 blog-list tb-site-container">
    <h2>Your Blog Posts:</h2>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h3><a href="/blog/{{blog.id}}" class="text-light">{{blog.title}}</a></h3>
      </div>
      <div class="row justify-center">
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-blog" data-id="{{blog.id}}">DELETE</button>
      </div>
      </div>
    </div>
    {{/each}}
  </aside>
  {{/if}}
</div>

<script src="./profile.js"></script>